<!DOCTYPE html>
<!-- Syntaxe: HTML5 Polyglot, Conformité: HTML5 et XML (XHTML5) -->

<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
	<meta charset="utf-8" />
	<title>Démo Python - WS REST - Client</title>
	<link rel="stylesheet" href="../css/styles.css" />
</head>

<body>	

	<h1>Démo Python - WS REST - Client</h1>
	
	{% for test in data %}
	<section>
		<h2>{{test.titre}}</h2>
		
		<section>
			<h3>Informations sur la requête HTTP</h3>
			<p>URL = <span class="url">{{test.req.url}}</span></p>
			<p>Méthode = <span class="methode-http">{{test.req.methode}}</span></p>
			<p>En-têtes  = {{test.req.enTetes}}</p>
			{% if test.req.contenu is not none %}
				<p>Contenu  = {{test.req.contenu}}</p>
			{% endif %}
		</section>
		
		<section>
			<h3>Résultat</h3>
			{% if test.succes %}
				<p class="msg-succes">Complétée avec succès</p>
			{% else %}
				<p class="msg-erreur">Échec : Code de statut = {{ test.rep.statut }}</p>
			{% endif %}
		</section>
		
		<section>
			<h3>Informations sur la réponse HTTP</h3>
			<p>Code de statut = <span class="statut-http">{{ test.rep.statut }}</span></p>
			{% if test.rep.contenu is not none %}
				<p>Contenu  = {{test.rep.contenu}}</p>
			{% endif %}
		</section>
		
	</section>
	{% endfor %}


	
</body>
</html>
